.header {
    background: var(--gray-100);
    padding: 1rem 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    gap: 1.125rem;
}

.header .title {
    font-size: 1.5rem;
    line-height: 2.75rem;
}

.header .nav {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.header .nav>ul {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    list-style: none;
}

.header .nav>a {
    background: var(--gray-200);
    color: var(--white-100);
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0.8125rem;
}

.header .nav>ul>li {
    font-size: 1rem;
    line-height: 2.0625rem;
}

.header .nav>ul>li>a {
    text-decoration: none;
    color: currentColor;
}